beautifulsoup4==4.6.3
certifi==2019.9.11
Click==7.0
Flask==1.0.2
Flask-Cors==3.0.7
Jinja2==2.10
itsdangerous==1.1.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
pandas==1.1.0
path.py==11.5.0
pathlib2==2.3.3
PyMySQL==0.9.3
requests==2.21.0
selenium==3.141.0
SQLAlchemy==1.2.15
