#loading_container{
    display: none; 
    width: 200px;
    margin-top: 1%;
    margin-left: 45%;
    margin-right: auto;
  }
  
  #company_container{
    margin-top: 5%;
    margin-left: 32%;
    margin-right: auto;
  }
  
  #chartContainer{
    height: 300px; 
    width: 70%; 
    margin-top: 5%;
    margin-left: 13%;
    margin-right: auto;
  }
  
  #table_container{
    margin-left: 30px;
    margin-top: 5%;
    width: 100%;
    margin-right: 20px;
  }
  
  #heading{
    font-weight: bold;
    color: grey;
    font-size: large;
    text-align: center;
    margin-bottom: 1%;
  }
  
  #download_data{
    display: none;
    margin-top: 20px;
    margin-left: 36%;
  }

  @media(max-width:720px){
    .nav-link {
   text-decoration: none;
   border-bottom: none;
   border-top: none;
   font-size:15px;
   font-weight: none;
    }
    .text-area span{
      font-size: 2rem;
    }
    #chartContainer{
        height: 300px;
        width: 100%; 
        margin-top: 5%;
        margin-left: 13%;
        margin-right: auto;
      }
    }