<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="title icon" type="image/png" href="..static/css/title-img.png">
    <!---- bootstrap cdn-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!---- fontawesome css-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
     integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
     <!-----google fonts-->
     <link href="https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Roboto+Mono:wght@200&family=Source+Serif+Pro:wght@300&display=swap"
      rel="stylesheet">

      
      <!----Custom stylesheet-->  
      <link rel="stylesheet" href="../static/css/styles.css">
      <link rel="stylesheet" href="../static/css/ml.css">

     <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.slim.js"></script>
</head>
    
  
    <body>
    <!--- Start of navbar-->
    <div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <button type="button" class="navbar-toggler  ml-3" data-toggle="collapse" data-target="#navbarNav" aria-control="navbarNav">
      <span class="navbar-toggler-icon "></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item px-3 active"><a class="nav-link link-special text-capitalize font-weight-bold text-light" href="/">Home</a></li>
        <!----Dropdown-->
                <li class="nav-item px-3 active"><a class="nav-link link-special text-capitalize font-weight-bold text-light" href="/visualizations">Projects</a></li>
          <li class="nav-item px-3 active"><a class="nav-link link-special text-capitalize font-weight-bold text-light" href="/ML">Machine Learning</a></li>
          <li class="nav-item px-3 active"><a class="nav-link link-special text-capitalize font-weight-bold text-light" href="#">Blog</a></li>
        </ul>
      </div>
  </nav>
  </div>
  <div class="jumbotron bg-secondary">
    <h1 class="display-3 text-light text-lead">Machine Learning</h1>
    <div class="article" id="article-text">
    <p class="text-lead font-weight-bold text-light mt-2">I explore the use of various machine learning algorithms to predict, classifiy and deduce dimensionality
        in datatsets. Machine learning is critical now because of the enormous amount of data we collect everyday and simply guessing what the hidden insights in the data 
    will not be the most effective way to use it. Machine learning makes it possible for us to train a model using the datasets available and then using that model
to predict unknown data outside of the trained set. Depending on the kind of data(contiunous, discrete, categorical), we will have to choose the appropriate alogorithms to use. </p>
    </div>
    <hr class="my-4">
    
    </div>

  <div class="container">
      <div class="row"></div>
      <div col text-center></div>
      <h2 class='font-weight-bold text-underlined'>Multilinear Regression (NYC Taxi Duration)</h2>
      <h4> 
          <a href="https://github.com/Deborahaina/Multilinear-Regression" target="_blank"> 
            In this project, we train a shallow model using a kaggle competition dataset. In this competition, Kaggle is challenging you to build a model
             that predicts the total ride duration of taxi trips in New York City. Your primary dataset is one released by the NYC Taxi and Limousine 
             Commission, which includes pickup time, geo-coordinates, number of passengers, and several other variables.</a>
      </h4>
  </div>
  <div class="container">
    <div class="row"></div>
    <div col text-center></div>
    <h2 class='font-weight-bold text-underlined'>Classification (Logistic Regression)</h2>
    <h4> 
        <a href="https://github.com/Deborahaina/Predicting-why-MOOCs-fail" target="_blank">
        Massive open online courses and why they have not succeeded in their mission so far. Using HarvardX dataset consisting of the first two
         years of offering free online courses to the public. HarvardX offered only 5 courses during this time and these are the courses analyzed in this project.</a>
    </h4>
</div>

<div class="container">
    <div class="row"></div>
    <div col text-center></div>
    <h2 class='font-weight-bold text-underlined'>Classification (K Nearest Neighbor) </h2>
    <h4> 
        <a href="https://github.com/Deborahaina/MachineLearning-Classification" target="_blank">Classifying Iris Plants based on its attributes</a>
    </h4>
</div>

<div class="container">
    <div class="row"></div>
    <div col text-center></div>
    <h2 class='font-weight-bold text-underlined'> Tree based models </h2>
    <h4> 
        <a href="https://github.com/Deborahaina/Tree_based_models" target="_blank">Welcome to a game of poker. Each record in this competition consists of five playing cards 
        and an attribute representing the poker hand. You are asked to predict the best hand you can play based on the cards you've been dealt.</a>
    </h4>
</div>


<div class="container">
    <div class="row"></div>
    <div col text-center></div>
    <h2 class='font-weight-bold text-underlined'> Deep Neural Networks I </h2>
    <h4> 
        <a href="https://github.com/Deborahaina/Computer_vision" target="_blank">Using the Cifar100 dataset from TensorFlow.org, this model classifies 600 images into 100 classes and 20 superclasses</a>
    </h4>
</div>




  <section>
<!---footer-->
<footer class="bg-dark pt-5 px-5" id="darkie">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h1 class="text-light text-capitalize font-weight-bold">Data Driven Solutions</h1>
                <h3 class="mb-3" id="first-letter">follow the data lead! </h3>

                <div class="py-2 ">
                    <a href="#"><i class="fab fa-facebook text-info fa-2x mx-3"></i></a>
                    <a href="#"><i class="fab fa-github text-secondary fa-2x mx-3"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x mx-3 "></i></a>
                    <a href="#"><i class="fab fa-linkedin text-secondary fa-2x mx-3"></i></a>
                </div>
                <p class="text-light py-4 m-0">&copy;Copyright 2020-Made by Deborah Aina</p>

            </div>
        </div>
    </div>
</footer>
</section>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>