<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="title icon" type="image/png" href="images/title-img.png">
    <!---- bootstrap cdn-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!---- fontawesome css-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
     integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
     <!-----google fonts-->
     <link href="https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Roboto+Mono:wght@200&family=Source+Serif+Pro:wght@300&display=swap"
      rel="stylesheet">
     <link rel="stylesheet"  href="../static/css/styles.css">
    <title>Skills webpage</title>
</head>
<body>
    <!--- Start of navbar-->

   <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <button type="button" class="navbar-toggler  ml-3" data-toggle="collapse" data-target="#navbarNav" aria-control="navbarNav">
      <span class="navbar-toggler-icon "></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item px-3 active"><a class="nav-link link-special text-capitalize font-weight-bold text-light" href="#">Home</a></li>
        <li class="nav-item px-3 active"><a class="nav-link link-special text-capitalize font-weight-bold text-light" href="#">Prpject 1</a></li>
        <li class="nav-item px-3 active"><a class="nav-link link-special text-capitalize font-weight-bold text-light" href="#">Project 2</a></li>
        <li class="nav-item px-3 active"><a class="nav-link link-special text-capitalize font-weight-bold text-light" href="#">Project 3</a></li>
        <li class="nav-item px-3 active"><a class="nav-link link-special text-capitalize font-weight-bold text-light" href="#">Project 4</a></li>
        </ul>
      </div>
  </nav>
  <!----End of navbar-->

  <!-----Start of header-->
  <header>
    <div class="hero-image" style="height: 80%vh;">
  
      <div class="hero-text">
        <h1 id="first-letter">W <span>elcome!</span></h1>
        <div class="text-area mb-3">
        <span>T</span>
        <span>e</span>
        <span>c</span>
        <span>h</span>
        <span>n</span>
        <span>i</span>
        <span>c</span>
        <span>a</span>
        <span class="ml-1">l</span>
        <span>s</span>
        <span>k</span>
        <span>i</span>
        <span>l</span>
        <span>l</span>
        <span>s</span>
        </div>
      <p class="first-paragraph">Explore the world of Data and Machine Learning with me</p>
        <p id="banner-btn"><a class="active" href="#">Click Me!</a>
          <a class="active" href="#">Click Me!</a>
        </p>
      </div>
      </div>
    </div>
  </header>

<!----End of header-->


<section>
    <div class="container-fluid d-flex justify-content-center">
<div class="row justify-content-center">
<div class="col-lg-5 col-sm-8 mx-auto my-5 align-items-center">
    <div class="card" style="width: 22rem;">
        <div class="card-body">
          <h4 class="card-title">MySQL</h4>
          <h6 class="card-subtitle mb-2 text-muted">SQL Database</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      </div>

      <div class="col-lg-5 col-sm-8 mx-auto my-5">
        <div class="card" style="width: 22rem;">
            <div class="card-body">
              <h4 class="card-title">MySQL</h4>
              <h6 class="card-subtitle mb-2 text-muted">SQL Database</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
      </div>
      </div>
    
    </section>

    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>